
.Rbuildignore

.Rhistory

.Rproj.user/F1F16065/cpp-definition-cache

.Rproj.user/F1F16065/pcs/files-pane.pper

.Rproj.user/F1F16065/pcs/source-pane.pper

.Rproj.user/F1F16065/pcs/windowlayoutstate.pper

.Rproj.user/F1F16065/pcs/workbench-pane.pper

.Rproj.user/F1F16065/rmd-outputs

.Rproj.user/F1F16065/saved_source_markers

.Rproj.user/F1F16065/sources/per/t/1AEA3F88

.Rproj.user/F1F16065/sources/per/t/1AEA3F88-contents

.Rproj.user/F1F16065/sources/per/t/1EDEFC25

.Rproj.user/F1F16065/sources/per/t/1EDEFC25-contents

.Rproj.user/F1F16065/sources/per/t/249FEAEC

.Rproj.user/F1F16065/sources/per/t/249FEAEC-contents

.Rproj.user/F1F16065/sources/per/t/3C44B595

.Rproj.user/F1F16065/sources/per/t/3C44B595-contents

.Rproj.user/F1F16065/sources/per/t/9DF759D8

.Rproj.user/F1F16065/sources/per/t/9DF759D8-contents

.Rproj.user/F1F16065/sources/prop/10E54D7A

.Rproj.user/F1F16065/sources/prop/30D30501

.Rproj.user/F1F16065/sources/prop/4FFE9FA5

.Rproj.user/F1F16065/sources/prop/7EF28AC8

.Rproj.user/F1F16065/sources/prop/C35A062E

.Rproj.user/F1F16065/sources/prop/D91D7482

.Rproj.user/F1F16065/sources/prop/FFB483E6

.Rproj.user/F1F16065/sources/prop/INDEX

.Rproj.user/shared/notebooks/patch-chunk-names

.Rproj.user/shared/notebooks/paths
.Rproj.user
