export(opdisDownsampling)
import(parallel)
importFrom("graphics", "abline", "lines", "plot")
importFrom("methods", "hasArg")
importFrom("stats", "ks.test", "na.omit", "dist", "prcomp")
importFrom("caTools", "sample.split", "trapz")
importFrom("pracma", "histc", "linspace")
importFrom ("twosamples", "ad_stat", "kuiper_stat", "cvm_stat", "wass_stat", "dts_stat")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("parallel", "detectCores")
importFrom("pbmcapply", "pbmclapply")
importFrom("benchmarkme", "get_ram")
