export(opdisDownsampling)
import(parallel)
import(foreach)
importFrom(graphics, abline, lines, plot)
importFrom(methods, hasArg)
importFrom(stats, ks.test, na.omit, dist, prcomp, runif)
importFrom(caTools, sample.split, trapz)
importFrom(pracma, histc, linspace)
importFrom(twosamples, ad_stat, kuiper_stat, cvm_stat, wass_stat, dts_stat)
importFrom(parallel, detectCores, mclapply)
importFrom(doParallel, registerDoParallel, stopImplicitCluster)
importFrom(pbmcapply, pbmclapply)
